# Specify filepatterns you want git to ignore.

*.exe
*.mod
*.png
*.css
*.html
*.tex
*.sty
*.js
*.bat
*.xml
*.xsd
*.xslt
*.pickle
*.ttf
*.eot
*.woff
*.woff2
*.buildinfo
*.doctree
*.svg
*.inv
*.out
index.rst.txt
documentation/Sphinx/Makefile
documentation/Doxygen/latex/Makefile
documentation/Breathe/breathe/*
documentation/Breathe/breathe.egg-info/*